body { background-color: rgb(57, 91, 110); 
} 
p { font-family: 'serif', Times, serif; line-height: 150%;
     color:rgb(255, 255, 255); 
    }


h1 { font-family: Impact, Haettenschweiler, sans-serif; 
    color: beige; margin-top: 3em; 
}
